.error{
	color: red;
	text-align: center;
}
.title {
    color: #66757f;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    margin: 1rem;
}

#cboxCurrent{
	display: none !important;
}