
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<f:if condition="{data.header}">
		<h2 class="title">{data.header}</h2>
	</f:if>
	<f:if condition="{instagram}">
		<f:then>
			<div id="instagram" class="insta insta_{settings.imageres} {f:if(condition:'{settings.carousel}==1',then:'insta_col_1',else:'insta_col_{settings.cols}')}" style="{instagram.styles}" 
			data-id = "{instagram.user_id}"
			data-num = "{settings.num}"
			data-res = "{settings.imageres}"
			data-cols = "{settings.cols}" 
			data-options='{
		    	"showcaption": &quot;{instagram.showcaption}&quot;,
		    	"captionlength": &quot;{settings.captionlength}&quot;,
		    	"captioncolor": &quot;{settings.captioncolor}&quot;,
		    	"captionsize": &quot;{settings.captionsize}",
		    	"showlikes":&quot;{instagram.showlikes}&quot;,
		    	"likescolor":&quot;{settings.likescolor}&quot;,
		    	"likessize":&quot;{settings.likessize}&quot;,
		    	"sortby":"{settings.sortby}",
		    	"type":&quot;{settings.displayFeedMode}&quot;,
		    	"hashtag":&quot;{settings.tagged}&quot;,
		    	"headercolor":&quot;{settings.headercolor}&quot;,
		    	"headerprimarycolor":&quot;{settings.headerprimarycolor}&quot;,
		    	"headersecondarycolor":&quot;{settings.headersecondarycolor}&quot;,
		    	"hovercolor":&quot;{instagram.hovercolor.0},{instagram.hovercolor.1},{instagram.hovercolor.2}&quot;,
		    	"hovertextcolor":&quot;{instagram.hovertextcolor.0},{instagram.hovertextcolor.1},{instagram.hovertextcolor.2}&quot;,
		    	"hoverdisplay":&quot;{settings.hoverdisplay}&quot;,
		    	"hovereffect":"fade",
		    	"disablecache":"true",
		    	"headerstyle":"{settings.headerstyle}",
		    	"coordinates":"",
		    	"showfollowers":&quot;{instagram.showfollowers}&quot;,
		    	"showbio":&quot;{instagram.showbio}",
		    	"carousel": "[{instagram.carousel}, {instagram.carouselarrows}, {instagram.carouselpag}, {instagram.carouselautoplay}, {instagram.carouseltime}]", 
		    	"imagepadding": &quot;{settings.imagepadding}&quot;, 
		    	"imagepaddingunit": &quot;{settings.imagepaddingunit}&quot;, 
		    	"media": "all", 
		    	"showusers": "", 
		    	"includewords": "", 
		    	"excludewords": "", 
		    	"instaCacheExists": "false", 
		    	"instaHeaderCache": "true", 
		    	"instaWhiteList": "", 
		    	"instaWhiteListIds": "",
		    	"followtextcolor": "{settings.followtextcolor}",
		    	"followbuttoncolor": "{settings.followcolor}"
		    }'
			>
				<!-- Header -->
				<f:if condition="{settings.showheader}">
					<f:if condition="{settings.headerstyle}=='boxed'">
						<f:then>
							<div class="instagram_header insta_feed_type_{settings.displayFeedMode} insta_header_style_boxed" data-follow-text="{settings.followtext}" style="padding-bottom: 0px;background: {settings.headerprimarycolor}"></div>	
						</f:then>
						<f:else>
							<div class="instagram_header insta_feed_type_{settings.displayFeedMode}" data-follow-text="{settings.followtext}" style="padding-bottom: 20px;"></div>	
						</f:else>
					</f:if>
				</f:if>
				<!-- Image Container -->
				<div id="insta_images" class="{f:if(condition:'{settings.carousel}==1',then:'insta_carousel')}" style="padding: {settings.imagepadding}{settings.imagepaddingunit};">	
					<div class="insta_loader fa-spin"></div>
				</div>
				<f:if condition="{settings.carousel}">
					<f:then></f:then>
					<f:else>
						<div id="insta_load" style="padding-top: 5px;">
							<f:if condition="{settings.showbutton}">
								<a class="insta_load_btn" href="javascript:void(0);" style="background:{settings.buttoncolor};color:{settings.buttontextcolor}">{settings.buttontext}</a>
							</f:if>
							<f:if condition="{settings.showfollow}">
								<f:if condition="{settings.displayFeedMode}=='user'">
									<div class="insta_follow_btn"><a href="http://instagram.com/" style="background: {settings.followcolor};color: {settings.followtextcolor}" target="_blank"><i class="fa fa-instagram"></i>{settings.followtext}</a></div>
								</f:if>
							</f:if>
						</div>
					</f:else>
				</f:if>
			</div>
		</f:then>
		<f:else>
			<div class="instagram_error"><f:flashMessages /></div>
		</f:else>
	</f:if>
</f:section>